.wrap {
  --text-transition: 0.5s;
}

:global(html.light) .wrap,
:global(body.light) .wrap,
.wrap {
  --message-background-color: #fff;
  --message-text-color: #333;
}

:global(html.dark) .wrap,
:global(body.dark) .wrap {
  --message-background-color: #212121;
  --message-text-color: #858585;
}

@media (prefers-color-scheme: dark) {
  .wrap {
    --message-background-color: #212121;
    --message-text-color: #858585;
  }
}

.wrap {
  display: block;
  margin: 12px auto;
  text-align: center;
  line-height: 1.5;
  max-width: 80vw;
}

.hidden {
  z-index: -999;
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
  position: absolute;
}

.hidden .inner-wrap {
  animation: none;
}

.inner-wrap {
  overflow: hidden;
  border-radius: 2em;
  padding: 10px 16px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  position: relative;
  background-color: var(--message-background-color);
  display: inline-flex;
  align-items: center;
  animation: fade-small-large 0.3s both;
  transition: width var(--text-transition), height var(--text-transition);

  & .icon {
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  & .message {
    display: inline-block;
    color: var(--message-text-color);
    padding-left: 12px;
    word-break: break-all;
    text-align: left;
    transition: opacity var(--text-transition);
  }

  & .op-transition {
    opacity: 0.1;
  }

  & .text-transition {
    opacity: 0.1;
    position: absolute;
  }

  &.appear {
    animation: fade-small-large 0.3s both;
  }

  &.disappear {
    animation: fade-large-small 0.3s both;
  }
}

.container {
  position: fixed;
  right: 0;
  top: 8px;
  left: 0;
  z-index: 999;
  user-select: none;
  pointer-events: none;
}

.rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}
